<!--
 * @Author: Weiber Zeng
 * @Date: 2023-06-11 22:35:32
 * @LastEditors: Weiber Zeng
 * @LastEditTime: 2023-10-28 18:08:54
 * @Description: file content
 * @FilePath: /备忘/Users/weiber/htdocs/three/proj/src/pages/document.ejs
-->
<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Your App</title>
  <script src="/plugins/sf.min.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
